{% block content %}

<div class="card md-4 shadow">
    <div class="card-body">
        <p>{{ comment.note }}</p>
        <div class="d-flex justify-content-between">
            <small>author: {{ username }}</small>
        </div>
    </div>
</div>

{% endblock %}