{% layout 'layout.liquid' %}

{% block content %}
<form action="/fruits/{{fruit._id}}?_method=PUT" method="POST">
    <input type="text" name="name" placeholder="enter name" value="{{fruit.name}}">
    <input type="text" name="color" placeholder="enter color" value="{{fruit.color}}">
    <input type="checkbox" name="readyToEat" {% if fruit.readyToEat %} checked {% endif %}>
    <input type="submit" value="Edit Fruit">
</form>
{% endblock %}