{% layout 'layout.liquid' %}

{% block content %}
<div>
    {% for fruit in fruits %}
    <a href="/fruits/{{fruit._id}}">Fruit name: {{fruit.name}}</a>
    <p>Fruit color: {{fruit.color}}</p>
    <!-- <p>Fruit id: {{fruit._id}}</p> -->
    {% endfor %}
</div>
{% endblock %}